
{% extends "admin/widgets/grid.twig" %}

{% block tableClasses %}ui small compact table{% endblock %}
{% block render_item %}
    <tr class="commerce-grid-row commerce-order-grid-row" id="commerce-grid-row-record-{{ item.id }}" tabindex="0">

        <td colspan="7">
            <div class="ui stackable padded grid">
                <div class="five wide column commerce-order-grid-meta">
                    <h3>
                        <a href="{{ item.detail_url }}" class="commerce-ajax-fullpage">
                            <a href="{{ item.detail_url }}" class="commerce-ajax-fullpage">
                                {{ lex('commerce_notifystock.stock_request') }}
                                <span> &middot; {{ lex('commerce.id') }} {{ item.id }}</span>
                            </a>
                        </a>
                    </h3>

                    <p class="commerce-order-grid-meta-labels">
                        {% if item.notify_stock_message.complete %}
                            <span class="ui basic green label"><i class="icon icon-check"></i> {{ lex('commerce_abandonedcart.converted') }}</span>
                        {% else %}
                            <span class="ui basic red label"><i class="icon icon-times"></i> {{ lex('commerce_abandonedcart.not_converted') }}</span>
                        {% endif %}
                    </p>

                    <div class="ui list commerce-order-grid-meta">
                        <div class="item">
                            <div class="ui grid">
                                <div class="eight wide column muted commerce-order-grid-meta-label">
                                    {{ lex('commerce_abandonedcart.added_on') }}
                                </div>
                                <div class="eight wide column commerce-order-grid-meta-value">
                                    {{ item.notify_stock_message.added_on|smart_date }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="ui basic secondary segment commerce-order-grid-actions">
                {% if item.actions|length >= 1 %}
                    <div class="ui small secondary buttons">
                        {% for action in item.actions %}
                            <a class="ui simple icon basic button {% if action.modal %}commerce-ajax-modal{% else %}commerce-ajax-fullpage{% endif %}"
                               {% if action.url|length > 0 %}href="{{ action.url }}"{% endif %}
                                    {% if action.callback %}onclick="Commerce.Modal.callback({{ item.id }}); return false;"{% endif %}
                                    {% if action.new_window or action.newWindow %}target="_blank"{% endif %}
                                    {% if action.modal_title or action.modalTitle %}data-modal-title="{{ action.modal_title|default(action.modalTitle) }}"{% endif %}
                               tabindex="0"
                            >
                                {% if action.icon %}<i class="icon {{ action.icon }}"></i>{% endif %}
                                {{ action.title }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if item.status_changes|length >= 1 %}
                    <span class="commerce-order-grid-statuschanges-label">
                            {{ lex('commerce.change_status') }}
                        </span>

                    <div class="ui small secondary buttons commerce-order-grid-statuschanges">
                        {% for action in item.status_changes %}
                            <a class="ui simple icon basic button {% if action.modal %}commerce-ajax-modal{% else %}commerce-ajax-fullpage{% endif %}"
                               {% if action.url|length > 0 %}href="{{ action.url }}"{% endif %}
                                    {% if action.callback %}onclick="Commerce.Modal.callback({{ item.id }}); return false;"{% endif %}
                                    {% if action.new_window or action.newWindow %}target="_blank"{% endif %}
                                    {% if action.modal_title or action.modalTitle %}data-modal-title="{{ action.modal_title|default(action.modalTitle) }}"{% endif %}
                               tabindex="0"
                            >
                                {% if action.icon %}<i class="icon {{ action.icon }}"></i>{% endif %}
                                {{ action.title }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </td>
    </tr>
{% endblock %}